# Obsidian Vault (Optional: target vault name or ID)
# If not specified, the currently active vault will be used.
# OBSIDIAN_VAULT=YourVaultNameOrID

# Vault destination folder (relative to vault root)
DESTINATION_FOLDER=Clippings/

# Bot Selection
# BOT_TYPE can be 'discord' or 'matrix'
BOT_TYPE=discord

# Discord Bot
DISCORD_TOKEN=your_bot_token
DISCORD_CHANNEL_ID=your_channel_id

# Matrix Bot
MATRIX_HOMESERVER_URL=https://matrix.org
MATRIX_ACCESS_TOKEN=your_matrix_access_token
MATRIX_ROOM_ID=!your_room_id:matrix.org
